<% images = @store.test_imgs.attached? ? @store.test_imgs : [@store.test_img].select(&:attached?) %>
<% if images.any? %>
  <h5>Тестовые картинки</h5>
  <% images.each_with_index do |image, index| %>
    <%= link_to '', data: { controller: "fancybox", fancybox: "gallery-test", src: storage_path(image) } do %>
      <div style="display: inline-block; margin-right: 8px; background-image: url(<%= storage_path(image) %>); background-size: contain;
        width: 198px; height: 144px; background-repeat: no-repeat;"></div>
    <% end %>
  <% end %>
<% end %>
