@import "tailwindcss";

@import "./colors";
@import "./fonts";
@import "./old_style.scss";

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  @apply text-gray-900 dark:text-white bg-white dark:bg-gray-900;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 16px;
  margin-top: 4px;
}

.navbar-nav {
  li {
    a {
      @apply text-gray-900 dark:text-white;
    }
  }
}

.left-bar {
  @apply bg-white dark:bg-gray-800;

  .left-bar-menu {

  }
}

trix-editor:focus, [multiple]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, select:focus, textarea:focus {
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #1c64f2;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  border-color: #1c64f2;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.admin-form {
  label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }

  input[type="number"], input[type="text"], input[type="file"], select, textarea {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  input[type="submit"] {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
  }
}

.btn {
  @apply font-medium rounded-lg text-sm px-5 py-2.5 focus:ring-4 focus:outline-none
  text-white bg-blue-700 hover:bg-blue-800 focus:ring-blue-300
  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  cursor: pointer;
}

.btn-danger {
  @apply bg-red-700 hover:bg-red-800 focus:ring-red-300
  dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800;
}
