# examples:
#   periodic_cleanup:
#     class: CleanSoftDeletedRecordsJob
#     queue: background
#     args: [ 1000, { batch_size: 500 } ]
#     schedule: every hour
#   periodic_cleanup_with_command:
#     command: "SoftDeletedRecord.due.delete_all"
#     priority: 2
#     schedule: at 5am every day

production:
  clear_solid_queue_finished_jobs:
    command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
    schedule: every hour at minute 12
  check_avito_errors:
    class: Avito::CheckErrorsJob
    args: [{ user_id: 1 }]
    schedule: "0 0,12 * * *"
  update_avito_promotion:
    class: Avito::UpdatePromotionJob
    args: [1, 1]
    schedule: "*/1 7-22 * * *"
  stop_avito_promotion:
    class: Avito::StopPromotionJob
    args: [{ user_id: 1, store_id: 1 }]
    schedule: every day at 23:00
